<button type="button" [class]="classFromParent" data-bs-toggle="modal"
    [attr.data-bs-target]="'#deletePaymentModal' + currentPaymentFromParent.id">
    {{innerHTML}}
</button>

<div class="modal fade" [id]="'deletePaymentModal' + currentPaymentFromParent.id" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>{{currentPaymentFromParent.cardNumber}}</strong> nolu kart silinecek...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" (click)="delete()">Sil</button>
            </div>
        </div>
    </div>
</div>