<!-- Button trigger modal -->
<div type="button" [class]="classFromParent" data-bs-toggle="modal" data-bs-target="#updateEmailModal" *ngIf="loggedIn()">
    {{currentUserDTOFromParent.email}} / {{innerHTML}}
</div>

<!-- Modal -->
<div class="modal fade" id="updateEmailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="updateFormGroup">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email" formControlName="email"
                            class="form-control">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-success" (click)="updateEmail()">Güncelle</button>
            </div>
        </div>
    </div>
</div>