<table class="table" *ngIf="carDetail">
  <thead>
    <tr>
      <td>Id</td>
      <td>Marka</td>
      <td>Renk</td>
      <td>Açıklama</td>
    </tr>
  </thead>
  <tr>
    <td>{{ carDetail.carId }}</td>
    <td>{{ carDetail.brandName }}</td>
    <td>{{ carDetail.colorName }}</td>
    <td>{{ carDetail.carName }}</td>
    <td *ngFor="let carImagePath of carDetail.imagePath">
      <img [src]="getImagePath(carImagePath)" alt="{{ carDetail.carName }}" width="200" height="100" />
    </td>
  </tr>
</table>
<!-- <table class ="table" *ngIf="carImages">
  <thead>
    <tr>
      <td>{{carImages}}</td>
    </tr>
  </thead>
</table> -->