<div>
    <h4>Araba Ekle</h4>
    <form [formGroup]="carAddForm">
        <div>
            <label for="brandId">Marka</label>
            <select (click)="getBrands()" id="brandId" name="brandId" class="form-select" formControlName="brandId">
                <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
            </select>
        </div>

        <div class="mt-2">
            <label for="colorId">Renk</label>
            <select (click)="getColors()" id="colorId" name="colorId" class="form-select" formControlName="colorId">
                <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
            </select>
        </div>

        <div class="mt-2">
            <label for="name">Model</label>
            <input type="text" id="carName" name="carName" class="form-control" placeholder="Araç Adı"
                formControlName="carName">
        </div>

        <div class="mt-2">
            <label for="modelYear">Model Yılı</label>
            <input type="number" id="modelYear" name="modelYear" class="form-control" placeholder="Model Yılı"
                formControlName="modelYear">
        </div>

        <div class="mt-2">
            <label for="dailyPrice">Günlük Fiyat</label>
            <input type="number" id="dailyPrice" name="dailyPrice" class="form-control" placeholder="Günlük Fiyat"
                formControlName="dailyPrice">
        </div>

        <div class="mt-2">
            <label for="findeksPoint">Findeks Puanı</label>
            <input type="number" id="findeksPoint" name="findeksPoint" class="form-control" placeholder="Findeks Puanı"
                formControlName="findeksPoint">
        </div>

        <div class="mt-2">
            <label for="description">Açıklama</label>
            <textarea type="text" id="description" name="description" class="form-control" placeholder="Açıklama"
                formControlName="description"></textarea>
        </div>

        <div>
            <button class="btn btn-success mt-2" (click)="add()">Add</button>
        </div>
    </form>
</div>