<!-- Button trigger modal -->
<button [class]="classFromParent" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteColorModal'+currentColorFromParent.colorId" *ngIf="isAdmin()">
    {{innerHTML}}
</button>
  
<!-- Modal -->
<div class="modal fade" [id]="'deleteColorModal'+currentColorFromParent.colorId" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>{{currentColorFromParent.colorName}}</strong> silinecek...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
            </div>
        </div>
    </div>
</div>