<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form [formGroup]="loginForm">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72"
                height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="mb-3">
                <div class="form-floating">
                    <input formControlName="email" type="email" class="form-control" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <input formControlName="password" type="password" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>
            <div class="checkbox-wrapper-3" style="margin-bottom: 14px;"><h6>Remember me</h6>
                <input type="checkbox" id="cbx-3"/>
                <label for="cbx-3" class="toggle"> 
                    <span>
                    </span>
                </label>
            </div>
            <div class="mb-3"><button class="w-100 btn btn-lg btn-primary" (click)="login()">Login</button></div>

            <div class="mb-3">
                <h5>Or</h5>
            </div>
            <button class="w-100 btn btn-lg btn-warning" routerLink="/register">Register</button>
            <p class="mt-5 mb-3 text-muted">&copy; RentACar 2017–2022</p>
        </form>
    </main>



</body>