<!-- Button trigger modal -->
<div type="button" [class]="classFromParent" data-bs-toggle="modal" data-bs-target="#updatePasswordModal" *ngIf="loggedIn()">
    Şifre / {{innerHTML}}
</div>

<!-- Modal -->
<div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Şifre Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="updateFormGroup">
                    <div>
                        <label for="password">Şifre</label>
                        <input type="password" id="password" name="password" placeholder="Şifre"
                            formControlName="password" class="form-control">
                    </div>
                    <div>
                        <label for="newPassword">Yeni Şifre</label>
                        <input type="password" id="newPassword" name="newPassword" placeholder="Yeni Şifre"
                            formControlName="newPassword" class="form-control">
                    </div>
                    <div>
                        <label for="newPasswordAgain">Yeni Şifre Tekrar</label>
                        <input type="password" id="newPasswordAgain" name="newPasswordAgain"
                            placeholder="Yeni Şifre Tekrar" formControlName="newPasswordAgain" class="form-control">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-success" (click)="updatePassword()">Güncelle</button>
            </div>
        </div>
    </div>
</div>