<div>
    <div>
        <input type="text" name="filterText" class="form-control" placeholder="Search"
            [(ngModel)]="filterText" style="margin-bottom: 14px;" id="filterText">
    </div>
    <div class="mt-1">
        <app-brand-and-color-select-option-car-filter></app-brand-and-color-select-option-car-filter>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="card mt-4" style="width: 19rem;"
            *ngFor="let carDetailDTO of carDetailDTOs|carDetailsFilter:filterText">
            <div class="mt-2">
                <app-car-images-slider-by-car-id [currentCarIdFromParent]="carDetailDTO.carId">
                </app-car-images-slider-by-car-id>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{carDetailDTO.carName}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{carDetailDTO.brandName}}</li>
                <li class="list-group-item">{{carDetailDTO.colorName}}</li>
                <li class="list-group-item"><strong>{{carDetailDTO.dailyPrice|currency}}</strong></li>
            </ul>