<br />
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">
    <h5>Araç ara</h5>
  </label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Aramak istediğiniz ifadeyi giriniz">
</div>
<br />
<table class="table">
  <thead>
    <th>Model</th>
    <th>Marka</th>
    <th>Renk</th>
    <th>Fiyat</th>
  </thead>
  <tbody>
    <tr *ngFor="let cars of carDetails | carDetailsFilter : filterText">
      <td>{{cars.carName}}</td>
      <td>{{cars.brandName}}</td>
      <td>{{cars.colorName}}</td>
      <td>{{cars.dailyPrice | currency}}</td>
      <td>
        <button (click)="setCurrentCar(cars)" routerLink="/cars/detail/{{cars.carId}}" type="button"
          class="btn btn-warning">
          Detayları İncele
        </button>
      </td>
    </tr>
  </tbody>
</table>