<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Rengi Sil</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="colorDeleteForm">
                    <div class="mb-3">
                        <label for="productName">ColorId</label>
                        <div class="form-group">
                            <input type="number" id="colorId" formControlName="colorId" class="form-control"
                                placeholder="colorId değerini yazınız..." />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productName">ColorName</label>
                        <div class="form-group">
                            <input type="text" id="colorName" formControlName="colorName" class="form-control"
                                placeholder="Rengin adını yazınız..." />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="delete()">Sil</button>
            </div>
        </div>
    </div>
</div>