<table class="table">
    <thead>
        <tr>
            <th>Operation Type</th>
            <th>Entity Name</th>
            <th>Router Button</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Add</td>
            <td>Car</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToCarAddPage()">
                    Go
                </button>
            </td>
        </tr>
        <tr>
            <td>Update</td>
            <td>Car</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToCarUpdatePage()">
                    Go
                </button>
            </td>
        </tr>
        <tr>
            <td>Delete</td>
            <td>Car</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToCarDeletePage()">
                    Go
                </button>
            </td>
        </tr>
        <tr>
            <td>Add</td>
            <td>Color</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToColorAddPage()">
                    Go
                </button>
            </td>
        </tr>
        <tr>
            <td>Update</td>
            <td>Color</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToColorUpdatePage()">
                    Go
                </button>
            </td>
        </tr>
        <tr>
            <td>Delete</td>
            <td>Color</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToColorDeletePage()">
                    Go
                </button>
            </td>
        </tr>
        <tr>
            <td>Add</td>
            <td>Brand</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToBrandAddPage()">
                    Go
                </button>
            </td>
        </tr>
        <tr>
            <td>Update</td>
            <td>Brand</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToBrandUpdatePage()">
                    Go
                </button>
            </td>
        </tr>
        <tr>
            <td>Delete</td>
            <td>Brand</td>
            <td>
                <button class="btn btn-success" type="button" (click)="routeToBrandDeletePage()">
                    Go
                </button>
            </td>
        </tr>
    </tbody>
</table>