<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <h4>RentACar</h4>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="entity-management-page">Entity Management</a>
        </li>
      </ul>
      <form class="d-flex">
        <div>
          <app-findeks-point-board></app-findeks-point-board>
        </div>
        <div class="ms-2">
          <app-account-options></app-account-options>
        </div>
        <div>
          <app-route-to-login-page-button classFromParent="btn btn-outline-success"></app-route-to-login-page-button>
        </div>
        <div class="ms-2">
          <app-route-to-register-page-button classFromParent="btn btn-outline-success">
          </app-route-to-register-page-button>
        </div>
      </form>
    </div>
  </div>
</nav>