<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Araç Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="mb-3">
                        <label for="productName">CarName</label>
                        <div class="form-group">
                            <input type="text" id="carName" formControlName="carName" class="form-control"
                                placeholder="aracın adını giriniz..." />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productName">BrandId</label>
                        <div class="form-group">
                            <input type="number" id="brandId" formControlName="brandId" class="form-control"
                                placeholder="aracın marka değerini giriniz" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productName">ColorId</label>
                        <div class="form-group">
                            <input type="number" id="colorId" formControlName="colorId" class="form-control"
                                placeholder="aracın renk değerini giriniz" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productName">ModelYear</label>
                        <div class="form-group">
                            <input type="number" id="modelYear" formControlName="modelYear" class="form-control"
                                placeholder="aracın model yılını giriniz" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productName">DailyPrice</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                placeholder="günlük fiyatını giriniz" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productName">Description</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control"
                                placeholder="aracın açıklaması" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>
